:root {
  --dark-shade0: #0E1112;
  
  --dark-shade7: #D4D7D6;
  
  --dark-accent0: #CC3E44;
  
  --dark-accent1: #E37933;
  
  --dark-accent2: #CBCB41;
  
  --dark-accent3: #8DC149;
  
  --dark-accent4: #7494A3;
  
  --dark-accent5: #519ABA;
  
  --dark-accent6: #A074C4;
  
  --dark-accent7: #F55385;
  
  --dark-shade1: #2A2D2E;
  
  --dark-shade2: #474A4A;
  
  --dark-shade3: #636666;
  
  --dark-shade4: #7F8282;
  
  --dark-shade5: #9B9E9E;
  
  --dark-shade6: #B8BBBA;
}